.body_backgorund 
{
    background-image:url(Happy\ Birthday\ \(1\).gif);
    background-position:center;
    background-size:fit;
}
#myCanvas
{
   background-color: aliceblue;
   opacity: high;
}



